services:
  db:
    image: postgres:16
    container_name: askvox_postgres_container
    environment:
      POSTGRES_USER: askvox_user
      POSTGRES_PASSWORD: askvox_pw
      POSTGRES_DB: askvox_db
    ports:
      - "5433:5432"
    volumes:
      - askvox_pgdata:/var/lib/postgresql/data

volumes:
  askvox_pgdata:
