.uv-root {
  position: relative;
  min-height: 100vh;
  color: #f5f5f5;
  overflow: hidden;
}

/* orb sits here */
.uv-hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 220px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* centers orb vertically  */

  pointer-events: none; /* orb handles clicks */
  transition: height 0.3s ease-out;
}

/* When file is uploaded, reduce hero height to move text up */
.uv-hero.uv-hero--has-file {
  height: calc(100vh - 520px);
}

.uv-hero > * {
  pointer-events: auto; /* allow orb to still be clickable */
}

/* Chat padding ) */
.uv-chat-area {
  padding-top: 0;    
  padding-bottom: 120px; 
  width: 100%;
}

/* Outer Scroll Area */
.uv-chat-scroll-outer {
  position: absolute;
  top: 75px;          
  left: 0;
  right: 0;
    font-size: clamp(20px, 2vw, 28px) !important;
  overflow-y: auto;   
  width: 100%;
  scroll-behavior: smooth;
}

/*This section below is for the styling of scrollbar */

/* width of the scrollbar */
.uv-chat-scroll-outer::-webkit-scrollbar {
  width: 8px;                
}

/* Track is transparent */
.uv-chat-scroll-outer::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb is like translucent orange  */
.uv-chat-scroll-outer::-webkit-scrollbar-thumb {
  background: rgba(255, 140, 40, 0.20);   
  border-radius: 20px;


}


.uv-chat-scroll-outer::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 140, 40, 0.75);   /* dark orange when we hover around scroll bar */
}


/*  text below the orb */
.orb-caption {
  font-family: "ABeeZee", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}

/* Push caption up more when file is uploaded */
.uv-hero.uv-hero--has-file .orb-caption {
  margin-top: -150px;
}


/* Gradient "Hey AskVox"  */
.visual-askvox {
  background: linear-gradient(91.06deg, #ffa81c 2.26%, #ff4d00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}