.uv-root {
  position: relative;
  min-height: 100vh;
  color: #f5f5f5;
  overflow: hidden;
}

/* orb sits here */
.uv-hero {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 220px); /* adnust for top bar & chatbar */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* centers orb vertically  */

  pointer-events: none; /* orb handles clicks */
}

.uv-hero > * {
  pointer-events: auto; /* allow orb to still be clickable */
}

/* Chat padding ) */
.uv-chat-area {
  padding-top: 0;    
  padding-bottom: 120px; 
  width: 100%;
}

/* Outer Scroll Area */
.uv-chat-scroll-outer {
  position: absolute;
  top: 75px;          
  left: 0;
  right: 0;
  bottom: 110px;       
  overflow-y: auto;   
  width: 100%;
  scroll-behavior: smooth;
}

/*This section below is for the styling of scrollbar */

/* width of the scrollbar */
.uv-chat-scroll-outer::-webkit-scrollbar {
  width: 8px;                
}

/* Track is transparent */
.uv-chat-scroll-outer::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb is like translucent orange  */
.uv-chat-scroll-outer::-webkit-scrollbar-thumb {
  background: rgba(255, 140, 40, 0.20);   
  border-radius: 20px;


}


.uv-chat-scroll-outer::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 140, 40, 0.75);   /* dark orange when we hover around scroll bar */
}


